<div class="flex-1 bg-white h-screen relative items-center justify-center overflow-hidden">
  <div class="h-96 absolute w-full z-0" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)" ></div>
  <div class="flex flex-wrap  overflow-y-auto h-full items-center w-full justify-center py-2 pt-2 m-auto lg:pt-3"> 
  <div class="flex flex-col space-y-4 md:max-w-lg">
    <div class="mt-20 flex flex-col z-10 mx-8 text-white">
      <div class="relative shadow mx-auto h-24 w-24 -my-12 border-white rounded-full overflow-hidden border-2">
        <img class="object-cover w-full h-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=80">
      </div>
      <div class="mt-16">
        <h1 class="text-3xl text-center mb-2">
          <%= @user.username %>
        </h1>
        <p class="text-sm text-gray-300 text-center">
          <%= @user.bio %>
        </p>
      </div>
    </div>
    <% if @conversations.present? %>
      <div class="border-0 border-t-4 border-purple-500 rounded m-4 z-10 shadow-md">
        <div class="bg-white border border-t-0 rounded-t-none rounded-b flex flex-col">
          <div class="px-6 pt-6 flex flex-col items-start">
            <div class="font-semibold text-md">Continue the conversation</div>
          </div>

          
          <% @conversations.first(3).each do |conversation| %>
            <div class="border-b px-6 py-4 hover:bg-gray-50 cursor-pointer">
              <div class="flex flex-row gap-3">
                <div class="flex flex-row -space-x-10">
                  <img class="w-16 h-16 rounded-full border-2 border-white" src="https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=256&h=256&facepad=2" />
                </div>
                <div class="flex flex-col justify-center">
                  <div class="text-gray-400 text-sm">Anthony Francis • 33m ago</div>
                  <div class="flex flex-row items-center gap-1 text-sm text-gray-900 font-normal">
                    No problem. Just chat in be...
                  </div>
                </div>
              </div>
            </div>
          <% end %>
            <div class="px-6 py-1 cursor-pointer">
              <div class="m-4 text-sm text-purple-500 hover:text-purple-500">See all your conversations</div>
            </div>
        </div>
      </div>
    <% end %>

    <div class="border-0 border-t-4 border-purple-500 rounded m-4 z-10 shadow-md">
      <div class="bg-white border border-t-0 rounded-t-none rounded-b flex flex-col">
        <div class="p-6 flex flex-col items-start gap-3">
          <div class="font-semibold text-sm">Start a conversation</div>
          <div class="flex flex-row gap-3">
            <div class="flex flex-row -space-x-10">
              <img class="w-16 h-16 rounded-full border-2 border-white" src="https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=256&h=256&facepad=2" />
              <!-- <img class="w-16 h-16 rounded-full border-2 border-white" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=256&h=256&facepad=2" />
              <img class="w-16 h-16 rounded-full border-2 border-white" src="https://images.unsplash.com/photo-1499952127939-9bbf5af6c51c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=facearea&w=256&h=256&facepad=2" /> -->
            </div>
            <div class="flex flex-col justify-center">
              <div class="text-gray-400">My usual reply time</div>
              <div class="flex flex-row items-center gap-1 font-semibold">
                <svg class="w-4 h-4 text-blue-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                A few minutes
              </div>
            </div>
          </div>
          <%= render 'conversations/form', conversation: @conversation, user: @user %>
          <%#= link_to "create conversation", new_inbox_conversation_path(@user.inbox) %>
        </div>
      </div>
    </div>

    <div class="border-0 border-t-4 border-purple-500 rounded m-4 z-10 shadow-md">
      <div class="bg-white border border-t-0 rounded-t-none rounded-b p-6 flex flex-col space-y-2">
        <div class="font-semibold text-sm">Find your answer now</div>
        <div class="flex flex-row">
          <input type="text" placeholder="Search our articles" class="border flex-1 rounded-l p-2 text-sm shadow-inner outline-none bg-gray-50 focus:bg-white">
          <button type="button" class="bg-purple-700 p-2 rounded-r">
            <i class="fas fa-chevron-right text-white"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="border-0 border-t-4 border-purple-500 rounded m-4 z-10 shadow-md">
      <div class="bg-white border border-t-0 rounded-t-none rounded-b flex flex-col">
        <div class="p-6 flex flex-col items-start">
          <div class="font-semibold text-sm mb-3">The Ultimate Guide </div>
          <img class="rounded-lg shadow-lg" src="http://www.3forty.media/ruki/wp-content/uploads/2020/06/meditation-yoga-1024x682.jpg">
        </div>
        <div class="border-t px-6 py-4 hover:bg-gray-50 cursor-pointer">
          <div href="#" class="text-sm text-purple-500">The Ultimate Guide to Conversation Support</div>
          <div href="#" class="text-sm text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
        </div>
      </div>
    </div>

    <div class="border-0 border-t-4 border-purple-500 rounded m-4 z-10 shadow-md">
      <div class="bg-white border border-t-0 rounded-t-none rounded-b flex flex-col">
        <div class="pt-6 px-6 flex flex-col items-start">
          <div class="font-semibold text-lg">The Ultimate Guide </div>
        </div>   
        <div class="border-t px-6 py-4 hover:bg-gray-50 cursor-pointer">
          <div href="#" class="text-sm text-purple-500">The Ultimate Guide to Conversation Support</div>
          <div href="#" class="text-sm text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
        </div>
        <div class="border-t px-6 py-4 hover:bg-gray-50 cursor-pointer">
          <div href="#" class="text-sm text-purple-500">The Ultimate Guide to Conversation Support</div>
          <div href="#" class="text-sm text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
        </div>
        <div class="border-t px-6 py-4 hover:bg-gray-50 cursor-pointer">
          <div href="#" class="text-sm text-purple-500">The Ultimate Guide to Conversation Support</div>
          <div href="#" class="text-sm text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</div>
        </div>
      </div>
    </div>
  </div>
</div>